body {
    margin: 0;
    padding: 0;
    background: #000000;
    height: 100%;
    width: 100%;
}

#main {
    background: #000000;
    position: absolute;
    left: 100px;
}

#pointer {
    position: absolute;
    bottom: 3px;
    left: 3px;
}
#win {
    display: none;
    position: absolute;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-large;
    font-style: bold;
    color: #F0F0F0;
    background-color: #000000;
}